body {
    font-family: 'Times New Roman', Times, serif ;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: black solid 2px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #a8540e;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 0;
  }
  
  h2 {
    font-size: 24px;
  }
  
  p {
    line-height: 1.6;
    color: #555;
  }
  
  .section {
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border: black solid 2px;
  }
  
  .contact-info .icon {
    margin-right: 10px;
    font-size: 20px;
    color: #333;
  }
  
  .social-media {
    display: flex;
    align-items: center;
  }
  
  .contact-info a {
    margin-right: 10px;
    font-size: 20px;
    color: #333;
    text-decoration: none;
  }
  
  .contact-info a:hover {
    color: #a8540e;
  }
  
  .list {
    margin-top: 10px;
    padding: 0;
  }
  
  .list li {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 5px;
  }
  
  .skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  
  .skill {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #eee;
    border-radius: 5px;
  }